<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ad.email %>
</p>

<p>
  <strong>Img url:</strong>
  <%= image_tag @ad.img_url %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
