<h1><%= label_tag "Wyniki ankiety "%></h1>

<p><%= label_tag "Imię i nazwisko: "%>
<%= @name + " " + @surname %> </p>

<p><%= label_tag "Płeć: "%>
<%= @sex %> </p>

<p><%= label_tag "Wiek: "%>
<%= @age %> </p>

<p><%= label_tag "Ile korzysta z komputera: "%>
<%= @computer_time %> </p>
